development:
  admin: admin_username
  networks: [ 127.0.0.0/8, '::1/128' ]

test:
  admin: admin_username
  networks: [ 127.0.0.0/8, '::1/128' ]

production:
  admin: admin_username
  networks: [ 12.34.56.78/24, 34.56.78.90/24 ]
