<% title "Presence Checker" %>

<p>This system manages user presences using Shibboleth authentication system. Please choose a course which you attend and confirm your presences are registered properly. The presence registration itself should be done via Moodle. First, you must login Moodle, then click the link. The registration is allowed only via wired network.</p>
